.circular-image img {
    width: 230px;
    height: 230px;
    -webkit-border-radius: 115px;
    -moz-border-radius: 115px;
    -ms-border-radius: 115px;
    -o-border-radius: 115px; border-radius: 115px;
    }
